HELP.md

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

target/

# Default ignored files
/workspace.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

**/.idea*
**.iml
**.ipr
**.iws
**/target
**/.mvn*
**/mvn*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Mac
.DS_Store

# Maven
**/log/
**/target/
**/.mvn/

# JAR Files
*.jar

# Log files
*.log

### VS Code ###
.vscode/
